<div>
  <rc-header [header]="title"></rc-header>

  <div class="row">
    <div class="col-xs-10">
      So, did we progress from Novice to Expert level, on Angular Reactive Controls... ?
      <ul>
        <li>Using the default FormGroup and FormControl to create simple Textboxes, Dropdowns etc.</li>
        <li>Enhanced the controls with Labels, Hints, Validators, ErrorMessages, Colors etc. on the HTML.</li>
        <li>Extract and encapsulate the repetetive misc. pieces into Custom Components (ControlValueAccessors).
          <div><i>Clean up the HTML</i></div>
        </li>
        <li>Extend the default FormGroup and FormControl into specific Control classes.
          <div><i>Textbox, Dropdown, Grid etc.</i></div>
        </li>
        <li>Add important overall functionality to the extended Form class.</li>
      </ul>
    </div>
  </div>

</div>
