<div class="rc-app-title">
  <img width="40"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  {{title}}
</div>

<div class="row">

  <div class="col-xs-2">
    <div class="rc-side-menu">
      <ul>
        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['intro']">Introduction</a>
        </li>

        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['simple']">Simple Form</a>
        </li>

        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['field']">Using Fields</a>
        </li>

        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['extend']">Extending</a>
        </li>

        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['next']">Next</a>
        </li>

        <li class="rc-menu-item"
            routerLinkActive="rc-active-menu">
          <a [routerLink]="['summary']">Summary</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-10">
    <router-outlet></router-outlet>
  </div>

</div>
