<div>
  <rc-header [header]="title"></rc-header>

  <div class="row">
    <div class="col-xs-6">
      <ul>
        <li>Set control properties on Template also.</li>
        <li>Nested Forms.</li>
        <li>Form to Form communication.</li>
        <li>Multiple Undo/Redo operations - Form wide.</li>
        <li>Unit Tests (without Testbed Template creation.)
          <ul>
            <li>should have 8 form controls in all</li>
            <li>should have 4 TextBox form controls</li>
            <li>should have 1 Dropdown form controls</li>
            <li>should have hints set on all form controls</li>
            <li>should have errorMessages set on all form controls having Validators</li>
            <li>should have Required errorMessage set on all Required form controls</li>
            <li>should have required Validator on lastName/email</li>
            <li>should have min:20, max:75 Validator on age</li>
            <li>should have email Validator on email</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
