<ng-container *ngIf="formControl">
  <rc-field-rx [innerFormControl]="formControl">

    <table class="rc-table">
      <thead>
        <tr class="rc-header">
          <th *ngFor="let column of formControl.columns">{{column.header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of formControl.rows"
            class="rc-row"
            (click)="formControl.onRowClicked && formControl.onRowClicked(row)">
          <td *ngFor="let column of formControl.columns">{{row[column.field]}}</td>
        </tr>
      </tbody>
    </table>

  </rc-field-rx>
</ng-container>
