<div>
  <rc-header [header]="title"></rc-header>

  <div class="row">
    <div class="col-xs-6">
      <form [formGroup]="simpleForm">

        <div class="rc-field">
          <div class="rc-label">First Name:</div>
          <div>
            <div [class.rc-border]="hasError('firstName')">
              <input type="text"
                     formControlName="firstName">
            </div>
            <div class="rc-hint"
                 *ngIf="!hasError('firstName')">Enter your first name.</div>
            <div class="rc-error"
                 *ngIf="hasError('firstName')">{{errMessage('firstName')}}</div>
          </div>
        </div>

        <div class="rc-field">
          <div class="rc-label"><span class="rc-reqd">* </span>Last Name:</div>
          <div>
            <div [class.rc-border]="hasError('lastName')">
              <input type="text"
                     formControlName="lastName">
            </div>
            <div class="rc-hint"
                 *ngIf="!hasError('lastName')">Enter your last name.</div>
            <div class="rc-error"
                 *ngIf="hasError('lastName')">{{errMessage('lastName')}}</div>
          </div>
        </div>

        <div class="rc-field">
          <div class="rc-label">Mode of Travel:</div>
          <div>
            <div [class.rc-border]="hasError('modeOfTravel')">
              <select formControlName="modeOfTravel">
                <option *ngFor="let o of travelOptions"
                        [value]="o.id">
                  {{o.label}}
                </option>
              </select>
            </div>
            <div class="rc-hint"
                 *ngIf="!hasError('modeOfTravel')">Select a mode of travel.</div>
            <div class="rc-error"
                 *ngIf="hasError('modeOfTravel')">{{errMessage('modeOfTravel')}}</div>
          </div>
        </div>

        <div class="rc-field">
          <div class="rc-label">Sports Interests:</div>
          <div>
            <ng-container *ngFor="let cb of simpleForm.get('sports').controls; index as i">
              <input type="checkbox"
                     [formControl]="cb">
              {{sportsOptions[i].label}}
            </ng-container>
            <div class="rc-hint">Any Sports interests ?</div>
          </div>
        </div>

        <div class="rc-field">
          <div class="rc-label"><span class="rc-reqd">* </span> I'd like to be a:</div>
          <div>
            <div [class.rc-border]="hasError('likeToBe')">
              <ng-container *ngFor="let rb of likeToBeOptions">
                <input type="radio"
                       name="likeToBe"
                       [value]="rb.id"
                       formControlName="likeToBe">
                {{rb.label}}
              </ng-container>
            </div>
            <div class="rc-hint"
                 *ngIf="!hasError('likeToBe')">What would you like to be ?</div>
            <div class="rc-error"
                 *ngIf="hasError('likeToBe')">{{errMessage('likeToBe')}}</div>
          </div>
        </div>

        <div class="rc-field">
          <div class="rc-label">List of People:</div>
          <table class="rc-table">
            <thead>
              <tr class="rc-header">
                <th *ngFor="let column of columns">{{column.header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of people"
                  class="rc-row"
                  (click)="onRowClicked(row)">
                <td *ngFor="let column of columns">{{row[column.field]}}</td>
              </tr>
            </tbody>
          </table>
          <div class="rc-hint">Select a row to see details.</div>
        </div>

      </form>
    </div>

    <div class="col-xs-offset-1 col-xs-5">
      <rc-form-value [form]="simpleForm"></rc-form-value>
    </div>

  </div>

</div>
